.footer {
   background-color: $color-gray-darck-3;
   padding: 10rem 0;
   font-size: 1.4rem;
   color:$color-gray-light-2;

   
  

   @include respond(tab-port){
    padding: 6rem;
   }
  
   &__logo-box {
     margin-bottom: 8rem, 0;

   }

   &__logo {
    width: 18rem;
    height: auto;

   }
   &__navigation {
    border-top: .5px solid $color-gray-light-2;
    padding-top: 2rem;
    display: inline-block;
    
    @include respond(tab-port){
      width: 100%;
      text-align: center;
      
     }
   
   }
   &__list {
    list-style: none;
   }

   &__item {
    display: inline-block;
    &:not(:last-child){
        margin-right: .5rem;
    }
    
   }

   &__link {
      &:link,&:visited {
          text-decoration: none;
          color: inherit;
          text-transform: uppercase;
          display: inline-block;
          transition: all .2s;
      }

      &:hover, &:active {
          color: $color-primary;
          box-shadow: 0 1rem 2rem rgba($color-white, .3);
          transform: rotate(3deg) scale(1.2) ;
          
      }
    
   }

   &__copyright {
    border-top: .5px solid $color-gray-light-2;
    padding-top: 2rem;
  width: 80%;
   float: right;

   @include respond(tab-port){
    width: 100%;
    float: none;
    
   }
   }

   
    
}