.composition {
    position: relative;
    &__photo {
        box-shadow: 1rem 1.5rem 4rem rgba(black, .6);
        border-radius: 2px;
        width: 55%;
        position: absolute;
        outline-offset: 2rem; 
        transition: all .2s;

    @include respond(tab-port){
        float: left;
        position: relative;
        width: 33.333%;
        box-shadow: 1rem 1.5rem 3rem rgba(black, .2);
       } 

       &--p1 {
           left: 0;
           top:-2rem;
           @include respond(tab-port){
            position: relative;
            top: 0;
            left: -2rem;
            transform: scale(1.4)
        }
        }


       &--p2 {
           right:0;
           top:1rem;
          @include respond(tab-port){
              position: relative;
              top: -2rem;
              transform: scale(1.6);
              z-index: 1;
          }
    }

       &--p3 {
           left:20%;
           top:8rem;

           @include respond(tab-port){
            position: relative;
            top: 0;
            left: 2rem;
            transform: scale(1.4)
        }
        }

       &:hover{
           //con esta propiedad se crea como un borde pero con la propidedad en el componente superios outline-offset el borde se separa 
            outline: 1.5rem solid $color-primary;
            z-index: 4;
            //Esto es para que la imagen o lo que sea como que se levante 1.07 % de su tamnno si pones dos crece el doble de su tamanno 
            transform: scale(1.07) translateY(-.5rem);
            box-shadow: 1rem 1.8rem 4rem rgba(black, .8);
        }
       };
    //    Esto es para poner las fotos que no estan hover mas pequennas es la manera de decir que quieres que algo de lo que no estas seleccionando
    //    haga algo mas, despues de hacer hover dentro de cualquier elemente de la clasee composition seleccionar los elementos con la clase
    //    &__photo que no han sido hover y hacer algo mas en este caso scale 0.7 de su tamanno;
       &:hover &__photo:not(:hover){
           transform: scale(0.7);
       }
}
        
    
   
